[package]
name = "chip_interpreter"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
rand = { version = "0.8.5" }
