[package]
name = "chip_assembler"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
chip_lexer = { path = "../chip_lexer" }
